.vs/PixelTowerDefense/FileContentIndex/3b22d76b-22dc-4713-8d9c-1f3470663287.vsidx
.vs/PixelTowerDefense/FileContentIndex/76d364d1-e160-48e8-bd06-0572deb1a52c.vsidx
.vs/PixelTowerDefense/FileContentIndex/ed806bbf-9e3e-4a82-a77a-9eedb25d6f94.vsidx
bin/
obj/
**/bin/
**/obj/
*.user
*.suo
*.vs/
